@model CollegeSchedule.Models.AllModels;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <table class="schedule_table">
        <tr>
            <th class="days">Дни</th>
            <th class="number">№</th>
            <th class="time">Время</th>
            <th class="cabinet">Кабинет</th>
            <th class="group">@ViewData["group"]</th>
            <th class="teacher">Препод.</th>
        </tr>
        <tr>
            <th rowspan="5" class="day_of_the_week">Понедельник</th>
        </tr>
        @foreach(var item in Model.Schedules.Where(s => s.DayOfTheWeek == 1).OrderBy(s => s.SubjectNumber))
        {
            <tr>
                <th>@item.SubjectNumber</th>
                <th><input class="schedule_input" type="text" onchange="editTime(@item.Id, this.value)" autocomplete="off" value="@item.LessonTime" /></th>
                @if(item.RoomNumerator == null)
                {
                    <th class="room_block" id="single_room_@item.Id"><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id" hidden>
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="room_block" id="single_room_@item.Id" hidden><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id">
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.SubjectNumerator == null)
                {
                    <th class="subject_name" id="single_subject_@item.Id">
                            <div class="schedule_input_block">
                                <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                            </div>
                            <div class="add_numerator_block">
                                <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </th>
                        <th class="main_delimiter" id="delimiter_subject_@item.Id" hidden>
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                        </div>
                                        <div class="minus_delimiter_block">
                                            <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </th>
                } else {
                    <th class="subject_name" id="single_subject_@item.Id" hidden>
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id">
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.TeacherNumeratorId == null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id">
                        <div class="select_teachers_block">
                            <input class="schedule_input" list="teachers" id="teacher" name="teacher" onchange="editTeacherDenominator(@item.Id, this.value)" />
                            <datalist id="teachers">
                                @foreach (var teacher in Model.Teachers)
                                {
                                    <option>@teacher.teacherFullName</option>
                                }
                            </datalist>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id" hidden>
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="select_teachers" id="single_teacher_@item.Id" hidden>
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id">
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value=""></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        }
        <tr>
            <th rowspan="5" class="day_of_the_week">Вторник</th>
        </tr>
        @foreach(var item in Model.Schedules.Where(s => s.DayOfTheWeek == 2).OrderBy(s => s.SubjectNumber))
        {
            <tr>
                <th>@item.SubjectNumber</th>
                <th><input class="schedule_input" type="text" onchange="editTime(@item.Id, this.value)" autocomplete="off" value="@item.LessonTime" /></th>
                @if(item.RoomNumerator == null)
                {
                    <th class="room_block" id="single_room_@item.Id"><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id" hidden>
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="room_block" id="single_room_@item.Id" hidden><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id">
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.SubjectNumerator == null)
                {
                    <th class="subject_name" id="single_subject_@item.Id">
                            <div class="schedule_input_block">
                                <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                            </div>
                            <div class="add_numerator_block">
                                <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </th>
                        <th class="main_delimiter" id="delimiter_subject_@item.Id" hidden>
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                        </div>
                                        <div class="minus_delimiter_block">
                                            <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </th>
                } else {
                    <th class="subject_name" id="single_subject_@item.Id" hidden>
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id">
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.TeacherNumeratorId == null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id">
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id" hidden>
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="select_teachers" id="single_teacher_@item.Id" hidden>
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id">
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        }
        <tr>
            <th rowspan="5" class="day_of_the_week">Среда</th>
        </tr>
        @foreach (var item in Model.Schedules.Where(s => s.DayOfTheWeek == 3).OrderBy(s => s.SubjectNumber))
        {
            <tr>
                <th>@item.SubjectNumber</th>
                <th><input class="schedule_input" type="text" onchange="editTime(@item.Id, this.value)" autocomplete="off" value="@item.LessonTime" /></th>
                @if (item.RoomNumerator == null)
                {
                    <th class="room_block" id="single_room_@item.Id"><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id" hidden>
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else
                {
                    <th class="room_block" id="single_room_@item.Id" hidden><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id">
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if (item.SubjectNumerator == null)
                {
                    <th class="subject_name" id="single_subject_@item.Id">
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id" hidden>
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else
                {
                    <th class="subject_name" id="single_subject_@item.Id" hidden>
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id">
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if (item.TeacherNumeratorId == null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id">
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id" hidden>
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else
                {
                    <th class="select_teachers" id="single_teacher_@item.Id" hidden>
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id">
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        }
        <tr>
            <th rowspan="5" class="day_of_the_week">Четверг</th>
        </tr>
        @foreach(var item in Model.Schedules.Where(s => s.DayOfTheWeek == 4).OrderBy(s => s.SubjectNumber))
        {
            <tr>
                <th>@item.SubjectNumber</th>
                <th><input class="schedule_input" type="text" onchange="editTime(@item.Id, this.value)" autocomplete="off" value="@item.LessonTime" /></th>
                @if(item.RoomNumerator == null)
                {
                    <th class="room_block" id="single_room_@item.Id"><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id" hidden>
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="room_block" id="single_room_@item.Id" hidden><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id">
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.SubjectNumerator == null)
                {
                    <th class="subject_name" id="single_subject_@item.Id">
                            <div class="schedule_input_block">
                                <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                            </div>
                            <div class="add_numerator_block">
                                <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </th>
                        <th class="main_delimiter" id="delimiter_subject_@item.Id" hidden>
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                        </div>
                                        <div class="minus_delimiter_block">
                                            <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator">
                                        <div class="schedule_input_block">
                                            <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </th>
                } else {
                    <th class="subject_name" id="single_subject_@item.Id" hidden>
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id">
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if(item.TeacherNumeratorId == null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id">
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id" hidden>
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                } else
                {
                    <th class="select_teachers" id="single_teacher_@item.Id" hidden>
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id">
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        }
        <tr>
            <th rowspan="5" class="day_of_the_week">Пятница</th>
        </tr>
        @foreach (var item in Model.Schedules.Where(s => s.DayOfTheWeek == 5).OrderBy(s => s.SubjectNumber))
        {
            <tr>
                <th>@item.SubjectNumber</th>
                <th><input class="schedule_input" type="text" onchange="editTime(@item.Id, this.value)" autocomplete="off" value="@item.LessonTime" /></th>
                @if (item.RoomNumerator == null)
                {
                    <th class="room_block" id="single_room_@item.Id"><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id" hidden>
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else
                {
                    <th class="room_block" id="single_room_@item.Id" hidden><input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" /></th>
                    <th class="main_delimiter" id="delimiter_room_@item.Id">
                        <table width="100%" class="delimiter_room_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_room_denominator">
                                    <input class="schedule_input" type="text" onchange="editRoomDenominator(@item.Id, this.value)" autocomplete="off" value="@item.RoomDenominator" />
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_room_numenator">
                                    <input class="schedule_input" type="text" onchange="editRoomNumerator(@item.Id, this.value)" autocomplete="off" value="@item.RoomNumerator" />
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if (item.SubjectNumerator == null)
                {
                    <th class="subject_name" id="single_subject_@item.Id">
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id" hidden>
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else
                {
                    <th class="subject_name" id="single_subject_@item.Id" hidden>
                        <div class="schedule_input_block">
                            <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayDelimiter(@item.Id)" id="add_numerator_@item.Id"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_delimiter" id="delimiter_subject_@item.Id">
                        <table width="100%" class="delimiter_table">
                            <tr class="delimiter_main">
                                <th class="delimiter_denominator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editDenominator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectDenominator" />
                                    </div>
                                    <div class="minus_delimiter_block">
                                        <button class="add_numerator" onclick="hiddenDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_main">
                                <th class="delimiter_numerator">
                                    <div class="schedule_input_block">
                                        <input class="schedule_input" type="text" onchange="editNumerator(@item.Id, this.value)" autocomplete="off" value="@item.SubjectNumerator" />
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                @if (item.TeacherNumeratorId == null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id">
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id" hidden>
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
                else if(item.TeacherNumeratorId != null || item.SubjectNumerator != null)
                {
                    <th class="select_teachers" id="single_teacher_@item.Id" hidden>
                        <div class="select_teachers_block">
                            <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                <option value="@null"></option>
                                @foreach (var teacher in Model.Teachers)
                                {
                                    @if (teacher.Id == item.TeacherDenominatorId)
                                    {
                                        <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                    else
                                    {
                                        <option value="@teacher.Id">@teacher.teacherFullName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="add_numerator_block">
                            <button class="add_numerator" onclick="displayTeacherDelimiter(@item.Id)"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </th>
                    <th class="main_teacher_delimiter" id="delimiter_teacher_@item.Id">
                        <table width="100%" class="delimiter_teacher_table">
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_denominator">
                                    <div class="hidden_teacher_delimiter">
                                        <select class="select_options" onchange="editTeacherDenominator(@item.Id, this.value)">
                                            <option value="@null"></option>
                                            @foreach (var teacher in Model.Teachers)
                                            {
                                                @if (teacher.Id == item.TeacherDenominatorId)
                                                {
                                                    <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                                else
                                                {
                                                    <option value="@teacher.Id">@teacher.teacherFullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="minus_delimiter_block" id="minus_teacher_delimiter_@item.Id" hidden>
                                        <button class="add_numerator" onclick="hiddenTeacherDelimiter(@item.Id)"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="delimiter_teacher_main">
                                <th class="delimiter_teacher_numerator">
                                    <select class="select_options" onchange="editTeacherNumerator(@item.Id, this.value)">
                                        <option value="@null"></option>
                                        @foreach (var teacher in Model.Teachers)
                                        {
                                            @if (teacher.Id == item.TeacherNumeratorId)
                                            {
                                                <option selected value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                            else
                                            {
                                                <option value="@teacher.Id">@teacher.teacherFullName</option>
                                            }
                                        }
                                    </select>
                                </th>
                            </tr>
                        </table>
                    </th>
                }
            </tr>
        }
    </table>

    <div class="back_to_main">
        <a class="back_btn" asp-action="GroupList" asp-controller="Home" asp-route-cource="@ViewData["cource"]"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function editTime(scheduleId, lessonTime) {
        $.ajax({
            url: "/home/EditLessonTime",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, time: lessonTime },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editRoomDenominator(scheduleId, roomDenominatorNumber) {
        $.ajax({
            url: "/home/EditRoomDenominator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, roomDenominator: roomDenominatorNumber },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editRoomNumerator(scheduleId, roomNumeratorNumber) {
        $.ajax({
            url: "/home/EditRoomNumerator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, roomNumerator: roomNumeratorNumber },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editDenominator(scheduleId, denominatorName) {
        $.ajax({
            url: "/home/EditDenominator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, denominator: denominatorName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editNumerator(scheduleId, numeratorName) {
        $.ajax({
            url: "/home/EditNumerator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, numerator: numeratorName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editTeacherDenominator(scheduleId, teacherDenominatorName) {
        $.ajax({
            url: "/home/EditTeacherDenominator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, teacherName: teacherDenominatorName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editTeacherNumerator(scheduleId, teacherNumeratorNameId) {
        $.ajax({
            url: "/home/EditTeacherNumerator",
            method: "POST",
            dataType: "json",
            data: { id: scheduleId, teacherNumeratorId: teacherNumeratorNameId },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>