@model CollegeSchedule.Models.AllModels;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    @if(User.Identity.IsAuthenticated)
    {
        <a class="fixed-button" data-bs-toggle="modal" data-bs-target="#addExamOrConsultation">
            <i class="fa-solid fa-plus"></i>
        </a>
    }

    <div class="modal fade" id="addExamOrConsultation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">@ViewData["groupName"]</h5>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body" align="center">
                    <form asp-action="AddConsultation" asp-controller="Home" asp-route-groupId="@ViewData["groupId"]" asp-route-consultationsCount="@ViewBag.consultationsCount">
                        <button class="add_exam">Добавить консультацию</button>
                    </form>
                    <form asp-action="AddExam" asp-controller="Home" asp-route-groupId="@ViewData["groupId"]" asp-route-examsCount="@ViewBag.examsCount">
                        <button class="add_consultation">Добавить экзамен</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="examOrConsultation">
        <p>Расписание консультаций</p>
    </div>
    <div>
        <table class="exam_table">
            @if (ViewBag.examsCount != 0)
            {
                <tr>
                    <th class="number">№</th>
                    <th class="date">Дата</th>
                    <th class="time">Время</th>
                    <th class="cabinet">Кабинет</th>
                    <th class="group">Предмет</th>
                    <th class="teacher">Препод.</th>
                    <th class="delete_exam"></th>
                </tr>
            }
            @foreach (var item in Model.ConsultationSchedules)
            {
                <tr>
                    <th>@item.ConsultationNumber</th>
                    <th><input class="schedule_input" type="text" onchange="editConsultationDate(@item.Id, this.value)" autocomplete="off" value="@item.Date" /></th>
                    <th><input class="schedule_input" type="text" onchange="editConsultationTime(@item.Id, this.value)" autocomplete="off" value="@item.Time" /></th>
                    <th><input class="schedule_input" type="text" onchange="editConsultationRoom(@item.Id, this.value)" autocomplete="off" value="@item.Room" /></th>
                    <th class="subject_name"><input class="schedule_input" type="text" onchange="editConsultationSubject(@item.Id, this.value)" autocomplete="off" value="@item.Subject" /></th>
                    <th class="exam_teacher">
                        @if (item.TeacherId != null)
                        {
                            <input class="schedule_input" value="@item.Teacher?.teacherFullName" list="teachers_list" onchange="editConsultationTeacher(@item.Id, this.value)" />
                        }
                        else
                        {
                            <input class="schedule_input" list="teachers_list" onchange="editConsultationTeacher(@item.Id, this.value)" />
                        }
                        <datalist class="teachers_list" id="teachers_list">
                            @foreach (var teacher in Model.Teachers)
                            {
                                <option class="list_options">@teacher.teacherFullName</option>
                            }
                        </datalist>
                    </th>
                    <th class="delete_exam">
                        <form asp-action="DeleteConsultation" asp-controller="home" asp-route-consultationId="@item.Id" asp-route-groupId="@item.GroupId">
                            <button class="delete_exam_btn"><i class="fa-solid fa-square-minus" style="color: #1885c9; font-size: 25px;"></i></button>
                        </form>
                    </th>
                </tr>
            }

        </table>
    </div>

    <hr class="line"/>

    <div class="examOrConsultation">
        <p>Расписание экзаменов</p>
    </div>
    <div>
        <table class="exam_table">
            @if (ViewBag.examsCount != 0)
            {
                <tr>
                    <th class="number">№</th>
                    <th class="date">Дата</th>
                    <th class="time">Время</th>
                    <th class="cabinet">Кабинет</th>
                    <th class="group">Предмет</th>
                    <th class="teacher">Препод.</th>
                    <th class="delete_exam"></th>
                </tr>
            }
            @foreach (var item in Model.ExamsSchedules)
            {
                <tr>
                    <th>@item.ExamNumber</th>
                    <th><input class="schedule_input" type="text" onchange="editExamDate(@item.Id, this.value)" autocomplete="off" value="@item.Date" /></th>
                    <th><input class="schedule_input" type="text" onchange="editExamTime(@item.Id, this.value)" autocomplete="off" value="@item.Time" /></th>
                    <th><input class="schedule_input" type="text" onchange="editExamRoom(@item.Id, this.value)" autocomplete="off" value="@item.Room" /></th>
                    <th class="subject_name"><input class="schedule_input" type="text" onchange="editExamName(@item.Id, this.value)" autocomplete="off" value="@item.ExamName" /></th>
                    <th class="exam_teacher">
                        @if (item.TeacherId != null)
                        {
                            <input class="schedule_input" value="@item.Teacher?.teacherFullName" list="teachers_list" onchange="editExamTeacher(@item.Id, this.value)" />
                        }
                        else
                        {
                            <input class="schedule_input" list="teachers_list" onchange="editExamTeacher(@item.Id, this.value)" />
                        }
                        <datalist class="teachers_list" id="teachers_list">
                            @foreach (var teacher in Model.Teachers)
                            {
                                <option class="list_options">@teacher.teacherFullName</option>
                            }
                        </datalist>
                    </th>
                    <th class="delete_exam">
                        <form asp-action="DeleteExam" asp-controller="home" asp-route-examId="@item.Id" asp-route-groupId="@item.GroupId">
                            <button class="delete_exam_btn"><i class="fa-solid fa-square-minus" style="color: #1885c9; font-size: 25px;"></i></button>
                        </form>
                    </th>
                </tr>
            }

        </table>
    </div>

    <div class="back_to_main">
        <a class="back_btn" asp-action="ExamsListOfGroups" asp-controller="Home" asp-route-course="@ViewData["course"]"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function editExamDate(examId, examDate) {
        $.ajax({
            url: "/home/EditExamDate",
            method: "POST",
            dataType: "json",
            data: { id: examId, date: examDate },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editExamTime(examId, examTime) {
        $.ajax({
            url: "/home/EditExamTime",
            method: "POST",
            dataType: "json",
            data: { id: examId, time: examTime },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editExamRoom(examId, examRoom) {
        $.ajax({
            url: "/home/EditExamRoom",
            method: "POST",
            dataType: "json",
            data: { id: examId, room: examRoom },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editExamName(examId, examName) {
        $.ajax({
            url: "/home/EditExamName",
            method: "POST",
            dataType: "json",
            data: { id: examId, name: examName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editExamTeacher(examId, examTeacherName) {
        $.ajax({
            url: "/home/EditExamTeacher",
            method: "POST",
            dataType: "json",
            data: { id: examId, teacherName: examTeacherName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function editConsultationDate(consultationId, consultationDate) {
        $.ajax({
            url: "/home/EditConsultationDate",
            method: "POST",
            dataType: "json",
            data: { id: consultationId, date: consultationDate },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editConsultationTime(consultationId, consultationTime) {
        $.ajax({
            url: "/home/EditConsultationTime",
            method: "POST",
            dataType: "json",
            data: { id: consultationId, time: consultationTime },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editConsultationRoom(consultationId, consultationRoom) {
        $.ajax({
            url: "/home/EditConsultationRoom",
            method: "POST",
            dataType: "json",
            data: { id: consultationId, room: consultationRoom },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editConsultationSubject(consultationId, consultationSubject) {
        $.ajax({
            url: "/home/EditConsultationSubject",
            method: "POST",
            dataType: "json",
            data: { id: consultationId, subject: consultationSubject },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function editConsultationTeacher(consultationId, consultationTeacherName) {
        $.ajax({
            url: "/home/EditConsultationTeacher",
            method: "POST",
            dataType: "json",
            data: { id: consultationId, teacherName: consultationTeacherName },
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    
</script>