@model IEnumerable<CollegeSchedule.Models.Group>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["course"] курс</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body onload="checkShiftButtonStatus()">
    
    @if(User.Identity.IsAuthenticated)
    {
        <a class="fixed-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i>
        </a>
    }

    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Добавить группу</h5>
                    <div id="modal_loader" class="hidden"></div>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <div class="groupName">
                        <h5>Название группы</h5>
                        <input id="createGroupName" class="group_input" type="text" placeholder="Название" autocomplete="off" required />
                    </div>
                    <div class="groupName">
                        <h5>Смена</h5>
                        <input id="createGroupShift" class="group_input" type="number" placeholder="Смена" autocomplete="off" required />
                    </div>
                    <div class="groupCource">
                        <input id="createGroupCourse" value="@ViewData["course"]" hidden readonly />
                    </div>
                    <div class="save_group_block" align="right">
                        <p id="createGroup_error" class="createGroup_error"></p>
                        <button onclick="createGroup()" type="submit" class="save_group">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container"> 
        <div align="center">
            <button class="shift_schedule_btn" id="firstShift_btn" onclick="openFirstShift()">
                1 смена
            </button>
        </div>

        <div class="group_buttons" id="first_shift" style="display: none" align="center">
            @foreach (var group in Model.Where(g => g.GroupShift == 1))
            {
                <div class="group_list">
                    <div class="change_group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="group_info">
                                <a class="group_btn" asp-action="EditSchedule" asp-controller="Home" asp-route-groupId="@group.Id">@group.GroupName</a>
                                <div class="loader_block">
                                    <div id="card_loader_@group.Id"></div>
                                </div>
                                <div class="group_actions">
                                    <a class="edit_group" data-bs-toggle="modal" data-bs-target="#editGroupModal" onclick="getGroupInfo(@group.Id)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button class="delete_group" onclick="deleteGroup(@group.Id)">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="group_info">
                                <a class="group_btn" asp-action="ScheduleTable" asp-controller="Home" asp-route-groupId="@group.Id">@group.GroupName</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>

        <div align="center">
            <button class="shift_schedule_btn" id="secondShift_btn" onclick="openSecondShift()">
                2 смена
            </button>
        </div>

        <div class="group_buttons" id="second_shift" style="display: none" align="center">
            @foreach (var group in Model.Where(g => g.GroupShift == 2))
            {
                <div class="group_list">
                    <div class="change_group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="group_info">
                                <a class="group_btn" asp-action="EditSchedule" asp-controller="Home" asp-route-groupId="@group.Id">@group.GroupName</a>
                                <div class="loader_block">
                                    <div id="card_loader_@group.Id" class="hidden"></div>
                                </div>
                                <div class="group_actions">
                                    <a class="edit_group" data-bs-toggle="modal" data-bs-target="#editGroupModal" onclick="getGroupInfo(@group.Id)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button class="delete_group" onclick="deleteGroup(@group.Id)">
                                        <i class="fa-solid fa-square-minus"></i>
                                    </button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="group_info">
                                <a class="group_btn" asp-action="ScheduleTable" asp-controller="Home" asp-route-groupId="@group.Id">@group.GroupName</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="modal fade" id="editGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Редактировать группу</h5>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditGroup" asp-controller="Home" asp-route-currentCourse="@ViewData["course"]">
                        <div class="groupName">
                            <h5>Название группы</h5>
                            <input class="group_input" id="groupName" type="text" placeholder="Название" name="groupName" autocomplete="off" required />
                        </div>
                        <div class="groupCource">
                            <h5>Курс группы</h5>
                            <input class="group_input" id="groupCourse" type="number" placeholder="Курс" name="groupCourse" autocomplete="off" required />
                        </div>
                        <div class="groupId">
                            <input class="group_input" id="groupId" type="text" placeholder="Id" name="groupId" autocomplete="off" required hidden readonly/>
                        </div>
                        <div class="save_group_block" align="right">
                            <button type="submit" class="save_group">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="back_to_main">
        <a class="back_btn" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-chevron-left"></i></a>
    </div>

    


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">

    function getGroupInfo(id) {
        $.ajax({
            url: "/home/getGroupInfo/" + id,
            method: "GET",
            type: "json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                console.log(data);
                $("#groupName").val(data.GroupName);
                $("#groupCourse").val(data.GroupCourse);
                $("#groupId").val(data.Id);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function createGroup() {
        var groupName = $("#createGroupName").val();
        var groupShift = $("#createGroupShift").val();
        var groupCourse = $("#createGroupCourse").val();
        console.log(groupName + " " + groupShift + " " + groupCourse);
        console.log(groupCourse);
        if(groupName != "" && groupShift != 0 && groupCourse != 0 && (groupShift == 1 || groupShift == 2)) {
            document.getElementById("modal_loader").classList.remove("hidden");
            $.ajax({
                url: "/home/CreateGroup",
                method: "POST",
                dataType: "json",
                data: { groupName: groupName, groupCourse: groupCourse, groupShift: groupShift },
                success: function (data) {
                    document.getElementById("modal_loader").classList.add("hidden");
                    if (data === "Группа сохранена") {
                        window.location.reload();
                    } else if (data === "Группа с таким именем уже создана") {
                        textMessage(data)
                    } else {
                        textMessage("Не удалось создать группу");
                    }
                    console.log(data);
                },
                error: function (err) {
                    document.getElementById("modal_loader").classList.add("hidden");
                    console.log(err);
                }
            });
        } else {
            if(groupName === "" && groupShift == 0) {
                textMessage("Введите название и смену")
            } else if(groupName === "") {
                textMessage("Введите название");
            } else if(groupShift === "") {
                textMessage("Введите смену");
            } else if(groupShift != 1 || groupShift != 2) {
                textMessage("Укажите корректную смену");
            }
        }
    }

    function deleteGroup(id) {
        var groupCard = "card_loader_" + id;
        console.log(groupCard);
        document.getElementById(groupCard).style.display = "block";
        $.ajax({
            url: "/home/DeleteGroup",
            method: "POST",
            dataType: "json",
            data: { groupId: id },
            success: function (data) {
                //document.getElementById("card_loader_" + id).classList.add("hidden");
                if (data === "Группа удалена") {
                    //window.location.reload();
                }
                console.log(data);
            },
            error: function (err) {
                document.getElementById("card_loader_" + id).classList.add("hidden");
                console.log(err);
            }
        });
    }


    function textMessage(message) {
        $("#createGroup_error").css("margin-left", 10);
        $("#createGroup_error").css("margin-bottom", 10);
        $("#createGroup_error").text(message);
    }


</script>