@model IEnumerable<CollegeSchedule.Models.Schedule>

@{
    var schedules = Model.GroupBy(s => s.DayOfTheWeek).Select(g => new
    {
        g.Key
    }).OrderBy(s => s.Key);

    string[] DayOfTheWeek = new string[5] { "Понедельник", "Вторник", "Среда", "Четверг", "Пятница" };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body onload="getSchedule(@ViewData["groupId"])">
    <table class="schedule_table">
        <tr>
            <th class="days">Дни</th>
            <th class="number">№</th>
            <th class="time">Начало</th>
            <th class="time">Конец</th>
            <th class="cabinet">Кабинет</th>
            <th class="group">@ViewData["group"]</th>
            <th class="teacher">Преподаватель</th>
        </tr>
        @foreach(var schedule in schedules)
        {
            <tr>
                <th rowspan="5" class="day_of_the_week">@DayOfTheWeek[schedule.Key - 1]</th>
            </tr>
            @foreach (var item in Model.Where(s => s.DayOfTheWeek == schedule.Key))
            {
                <tr id="schedule_row_@item.Id">
                    <th><p class="schedule_th" id="number_item_@item.Id">@item.SubjectNumber</p></th>
                    <th><p class="schedule_th" id="start_time_@item.Id">@item.StartOfLesson</p></th>
                    <th><p class="schedule_th" id="end_time_@item.Id">@item.EndOfLesson</p></th>
                    @if (item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="room_denominator_@item.Id">@item.RoomDenominator</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="room_numerator_@item.Id">@item.RoomNumerator</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    }
                    else
                    {
                        <th><p class="schedule_th" id="room_denominator_@item.Id">@item.RoomDenominator</p></th>
                    }
                    @if (item.SubjectNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="denominator_@item.Id">@item.SubjectDenominator?.SubjectName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="numerator_@item.Id"> @item.SubjectNumerator?.SubjectName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    }
                    else
                    {
                        <th><p class="schedule_th" id="denominator_@item.Id">@item.SubjectDenominator?.SubjectName</p></th>
                    }
                    @if (item.TeacherNumeratorId != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="teacher_denominator_@item.Id">@item.TeacherDenominator?.teacherFullName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="teacher_numerator_@item.Id">@item.TeacherNumerator?.teacherFullName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    }
                    else
                    {
                        <th><p class="schedule_th" id="teacher_denominator_@item.Id">@item.TeacherDenominator?.teacherFullName</p></th>
                    }
                </tr>
            }
        }
    </table>

    <div class="back_to_main">
        <a class="back_btn" asp-action="GroupList" asp-controller="Home" asp-route-course="@ViewData["course"]"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function getSchedule(id) {
        console.log(id);
        $.ajax({
            url: "/home/GetSchedules/" + id,
            method: "GET",
            type: "json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                var currentTime = new Date();
                var currentDay = currentTime.getDay();
                console.log(currentDay);
                var hours = currentTime.getHours().toString().padStart(2, '0');
                console.log(hours);
                var minutes = currentTime.getMinutes().toString().padStart(2, '0');
                console.log(minutes);
                var formattedTime = `${hours}:${minutes}`;
                console.log(formattedTime);
                for(var i = 0; i < data.length; i++) {
                    console.log(data[i].StartOfLesson + " + " + data[i].EndOfLesson + " + " + data[i].DayOfTheWeek)
                    if ((formattedTime >= data[i].StartOfLesson && formattedTime <= data[i].EndOfLesson) && currentDay == data[i].DayOfTheWeek) {
                        console.log(true);
                        $("#schedule_row_" + data[i].Id).css("background", "linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%)");
                        $("#number_item_" + data[i].Id).css("color", "#FAFAFA");
                        $("#start_time_" + data[i].Id).css("color", "#FAFAFA");
                        $("#end_time_" + data[i].Id).css("color", "#FAFAFA");
                        $("#denominator_" + data[i].Id).css("color", "#FAFAFA");
                        $("#numerator_" + data[i].Id).css("color", "#FAFAFA");
                        $("#teacher_denominator_" + data[i].Id).css("color", "#FAFAFA");
                        $("#teacher_numerator_" + data[i].Id).css("color", "#FAFAFA");
                        $("#room_denominator_" + data[i].Id).css("color", "#FAFAFA");
                        $("#room_numerator_" + data[i].Id).css("color", "#FAFAFA").css("font-weight", "400");
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>