@model IEnumerable<CollegeSchedule.Models.Schedule>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body onload="getSchedule(@ViewData["groupId"])">
    <table class="schedule_table">
        <tr>
            <th class="days">Дни</th>
            <th class="number">№</th>
            <th class="time">Время</th>
            <th class="cabinet">Кабинет</th>
            <th class="group">@ViewData["group"]</th>
            <th class="teacher">Препод.</th>
        </tr>
        <tr>
            <th rowspan="5" class="day_of_the_week">Понедельник</th>
        </tr>
        @foreach (var item in Model.Where(s => s.DayOfTheWeek == 1).OrderBy(s => s.SubjectNumber))
            {
                <tr id="schedule_row_@item.Id">
                    <th>@item.SubjectNumber</th>
                    <th>@item.StartOfLesson</th>
                    @if(item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.RoomDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.RoomNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.RoomDenominator</th>
                    }
                    @if(item.SubjectNumerator != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.SubjectDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.SubjectNumerator
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.SubjectDenominator</th>
                    }
                    @if(item.TeacherNumeratorId != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.TeacherDenominator?.teacherFullName
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.TeacherNumerator?.teacherFullName
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.TeacherDenominator?.teacherFullName</th>
                    }
            </tr>
            }
        <tr>
            <th rowspan="5" class="day_of_the_week">Вторник</th>
        </tr>
        @foreach (var item in Model.Where(s => s.DayOfTheWeek == 2).OrderBy(s => s.SubjectNumber))
            {
                <tr id="schedule_row_@item.Id">
                    <th>@item.SubjectNumber</th>
                    <th>@item.StartOfLesson</th>
                    @if(item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.RoomDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.RoomNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.RoomDenominator</th>
                    }
                    @if(item.SubjectNumerator != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.SubjectDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.SubjectNumerator
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.SubjectDenominator</th>
                    }
                    @if(item.TeacherNumeratorId != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.TeacherDenominator?.teacherFullName
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.TeacherNumerator?.teacherFullName
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.TeacherDenominator?.teacherFullName</th>
                    }
            </tr>
            }
        <tr>
            <th rowspan="5" class="day_of_the_week">Среда</th>
        </tr>
        @foreach (var item in Model.Where(s => s.DayOfTheWeek == 3).OrderBy(s => s.SubjectNumber))
            {
                <tr id="schedule_row_@item.Id">
                    <th>@item.SubjectNumber</th>
                    <th>@item.StartOfLesson</th>
                    @if(item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.RoomDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.RoomNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.RoomDenominator</th>
                    }
                    @if(item.SubjectNumerator != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.SubjectDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.SubjectNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.SubjectDenominator</th>
                    }
                    @if(item.TeacherNumeratorId != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.TeacherDenominator?.teacherFullName
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.TeacherNumerator?.teacherFullName
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.TeacherDenominator?.teacherFullName</th>
                    }
            </tr>
            }
        <tr>
            <th rowspan="5" class="day_of_the_week">Четверг</th>
        </tr>
        @foreach (var item in Model.Where(s => s.DayOfTheWeek == 4).OrderBy(s => s.SubjectNumber))
            {
                <tr id="schedule_row_@item.Id">
                    <th>@item.SubjectNumber</th>
                    <th>@item.StartOfLesson</th>
                    @if(item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.RoomDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.RoomNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.RoomDenominator</th>
                    }
                    @if(item.SubjectNumerator != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.SubjectDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.SubjectNumerator
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.SubjectDenominator</th>
                    }
                    @if(item.TeacherNumeratorId != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.TeacherDenominator?.teacherFullName
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.TeacherNumerator?.teacherFullName
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.TeacherDenominator?.teacherFullName</th>
                    }
            </tr>
            }
        <tr>
            <th rowspan="5" class="day_of_the_week">Пятница</th>
        </tr>
        @foreach (var item in Model.Where(s => s.DayOfTheWeek == 5).OrderBy(s => s.SubjectNumber))
            {
                <tr id="schedule_row_@item.Id">
                    <th id="test">@item.SubjectNumber</th>
                    <th>@item.StartOfLesson</th>
                    @if(item.RoomNumerator != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.RoomDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.RoomNumerator
                                    </th>
                                </tr>
                            </table>
                        </th>
                    } else
                    {
                        <th>@item.RoomDenominator</th>
                    }
                    @if(item.SubjectNumerator != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.SubjectDenominator
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.SubjectNumerator
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.SubjectDenominator</th>
                    }
                    @if(item.TeacherNumeratorId != null) {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        @item.TeacherDenominator?.teacherFullName
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        @item.TeacherNumerator?.teacherFullName
                                    </th>
                                </tr>
                            </table>
                    </th>
                    } else
                    {
                        <th>@item.TeacherDenominator?.teacherFullName</th>
                    }
            </tr>
            }
    </table>

    <div class="back_to_main">
        <a class="back_btn" asp-action="GroupList" asp-controller="Home" asp-route-cource="@ViewData["cource"]"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">
    function getSchedule(id) {
        console.log(id);
        $.ajax({
            url: "/home/GetSchedules/" + id,
            method: "GET",
            type: "json",
            dataType: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                var currentTime = new Date();
                var currentDay = currentTime.getDay();
                console.log(currentDay);
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var formattedTime = `${hours}:${minutes}`;
                console.log(formattedTime);
                for(var i = 0; i < data.length; i++) {
                    console.log(data[i].StartOfLesson + " + " + data[i].EndOfLesson + " + " + data[i].DayOfTheWeek)
                    if ((formattedTime >= data[i].StartOfLesson && formattedTime <= data[i].EndOfLesson) && currentDay == data[i].DayOfTheWeek) {
                        console.log(true);
                        $("#schedule_row_" + data[i].Id).css("background", "linear-gradient(92.42deg, #367AA5 0%, #4794C6 100%)");
                        $("#schedule_row_" + data[i].Id).css("color", "#FAFAFA");
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>