@model IEnumerable<CollegeSchedule.Models.Schedule>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="group_buttons">
        <div class="group_list" align="center">
            <table class="schedule_table">
                <tr>
                    <th class="days">Дни</th>
                    <th class="number">№</th>
                    <th class="time">Время</th>
                    <th class="cabinet">Кабинет</th>
                    <th class="group">@ViewData["group"]</th>
                    <th class="teacher">Препод.</th>
                </tr>
                <tr>
                    <th rowspan="4" class="day_of_the_week">Понедельник</th>
                    @foreach(var item in Model.Where(s => s.DayOfTheWeek.Equals("Понедельник") && s.SubjectNumber == 1))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach(var item in Model.Where(s => s.DayOfTheWeek.Equals("Понедельник") && s.SubjectNumber == 2))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Понедельник") && s.SubjectNumber == 3))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach(var item in Model.Where(s => s.DayOfTheWeek.Equals("Понедельник") && s.SubjectNumber == 4))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    <th rowspan="4" class="day_of_the_week">Вторник</th>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Вторник") && s.SubjectNumber == 1))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Вторник") && s.SubjectNumber == 2))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Вторник") && s.SubjectNumber == 3))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Вторник") && s.SubjectNumber == 4))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    <th rowspan="4" class="day_of_the_week">Среда</th>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Среда") && s.SubjectNumber == 1))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Среда") && s.SubjectNumber == 2))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Среда") && s.SubjectNumber == 3))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Среда") && s.SubjectNumber == 4))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    <th rowspan="4" class="day_of_the_week">Четверг</th>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Четверг") && s.SubjectNumber == 1))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Четверг") && s.SubjectNumber == 2))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Четверг") && s.SubjectNumber == 3))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Четверг") && s.SubjectNumber == 4))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    <th rowspan="4" class="day_of_the_week">Пятница</th>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Пятница") && s.SubjectNumber == 1))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Пятница") && s.SubjectNumber == 2))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Пятница") && s.SubjectNumber == 3))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
                <tr>
                    @foreach (var item in Model.Where(s => s.DayOfTheWeek.Equals("Пятница") && s.SubjectNumber == 4))
                    {
                        <th>@item.SubjectNumber</th>
                        <th>@item.CoupleTime</th>
                        <th>@item.Cabinet</th>
                        <th>@item.Subject</th>
                        <th>@item.TeacherName</th>
                    }
                </tr>
            </table>
        </div>
    </div>

    <div class="back_to_main">
        <a class="back_btn" asp-action="GroupList" asp-controller="Home" asp-route-cource="@ViewData["cource"]"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
