@model IEnumerable<CollegeSchedule.Models.Teacher>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список преподавателей</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        <a class="fixed-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i>
        </a>
    }


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Добавить преподавателя</h5>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <div class="groupName">
                        <h5>ФИО преподавателя</h5>
                        <input id="createTeacherName" class="group_input" type="text" placeholder="ФИО" autocomplete="off" required />
                    </div>
                    <div class="save_group_block" align="right">
                        <p id="createTeacher_error" class="createTeacher_error"></p>
                        <button type="submit" class="save_group" onclick="addTeacher()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="search_block">
            <form class="search_form" asp-action="TeachersList" asp-controller="Home">
                <input class="search_input" type="text" name="searchText" autocomplete="off" placeholder="Поиск" />
            </form>
        </div>
        <div class="group_buttons" align="center">
            @foreach (var teacher in Model)
            {
                <div class="group_list">
                    <div class="change_group">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="group_info">
                                <button class="teacher_btn" data-bs-toggle="modal" data-bs-target="#getTeacherSchedule" onclick="getTeacherInfo(@teacher.Id)">@teacher.teacherFullName</button>
                                <div class="group_actions">
                                    <a class="copy_to_clickboard" onclick="copyPass('@teacher.TeacherPassword')">
                                        <i class="fa-solid fa-copy"></i>
                                    </a>
                                    <a class="edit_group" data-bs-toggle="modal" data-bs-target="#editTeacherModal" onclick="getTeacherInfo(@teacher.Id)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <form class="delete_form" asp-action="DeleteTeacher" asp-controller="Home" asp-route-teacherId="@teacher.Id">
                                        <button class="delete_group">
                                            <i class="fa-solid fa-square-minus"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        } else
                        {
                            <div class="group_info">
                                <button class="group_btn" data-bs-toggle="modal" data-bs-target="#getTeacherSchedule" onclick="getTeacherInfo(@teacher.Id)">@teacher.teacherFullName</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>


    <div class="modal fade" id="getTeacherSchedule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Введите пароль</h5>
                    <p id="passwordError" class="password_error"></p>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <div class="groupName">
                        <input class="group_input" id="teacherPass" type="text" placeholder="Пароль" autocomplete="off" required />
                        <input class="group_input" id="passId" readonly hidden />
                    </div>
                    <div class="save_group_block" align="right">
                        <button type="submit" class="save_group" onclick="checkTeacherPass()">Далее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTeacherModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Редактировать преподавателя</h5>
                    <button class="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <form asp-action="EditTeacher" asp-controller="Home">
                        <div class="groupName">
                            <h5>ФИО преподавателя</h5>
                            <input class="group_input" id="teacherName" type="text" placeholder="ФИО" name="teacherName" autocomplete="off" required />
                        </div>
                        <div class="groupId">
                            <input class="group_input" readonly id="teacherId" type="text" placeholder="Id" name="teacherId" autocomplete="off" required hidden />
                        </div>
                        <div class="save_group_block" align="right">
                            <button type="submit" class="save_group">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="back_to_main">
        <a class="back_btn" asp-action="Index" asp-controller="Home"><i class="fa-solid fa-chevron-left"></i></a>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">

    function addTeacher() {
        var teacherName = $("#createTeacherName").val();
        console.log(teacherName);
        if(teacherName != "") {
            $.ajax({
                url: "/home/AddTeacher",
                method: "POST",
                dataType: "json",
                data: { teacherName: teacherName },
                success: function (data) {
                    console.log(data);
                    if(data === 'Преподаватель добавлен') {
                        window.location.reload();
                    } else if(data === "Преподаватель с таким именем уже добавлен") {
                        $("#createTeacher_error").text(data);
                        $("#createTeacher_error").css("margin-bottom", 10);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
            $("#createTeacher_error").text("Не удалось добавить преподавателя");
            $("#createTeacher_error").css("margin-bottom", 10);
            $("#createTeacher_error").css("margin-left", 10);
        }
    }

    function getTeacherInfo(id) {
        $.ajax({
            url: "/home/GetTeacherInfo/" + id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                console.log(data);
                $("#teacherName").val(data.teacherFullName);
                $("#teacherId").val(data.Id);
                $("#passId").val(data.Id);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function checkTeacherPass() {
        var id = $("#passId").val();
        var password = $("#teacherPass").val();
        $.ajax({
            url: "/home/CheckTeacherPass",
            method: "GET",
            data: { teacherId: id, teacherPass: password },
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.success){
                    var url = '@Url.Action("TeachersSchedule", "Home", new { teacherId = "__teacherId__"})';
                    url = url.replace('__teacherId__', data.teacherId);
                    window.location.href = url;
                } else {
                    $('#passwordError').text("Неверный пароль");
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function copyPass(pass) {
        navigator.clipboard.writeText(pass)
        .then(() => {
            console.log("Скопировано");
        })
        .catch(err => {
            console.log(err);
        });
    }

    
</script>