@model IEnumerable<CollegeSchedule.Models.TeachersSchedule>


@{
    var teachersSchedule = Model.GroupBy(t => t.DayOfTheWeek).Select(t => new
    {
        t.Key
    }).OrderBy(t => t.Key);

    string[] DayOfTheWeek = new string[5] { "Понедельник", "Вторник", "Среда", "Четверг", "Пятница" };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["teacherName"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h3 class="shift">1 смена</h3>

    <table class="schedule_table">
        <tr>
            <th class="days">Дни</th>
            <th class="number">№</th>
            <th class="cabinet">Кабинет</th>
            <th class="group">@ViewData["teacherName"]</th>
            <th class="teacher">Группа</th>
        </tr>
        @foreach (var schedule in teachersSchedule)
        {
            <tr>
                <th rowspan="5" class="day_of_the_week">@DayOfTheWeek[schedule.Key - 1]</th>
            </tr>
            @foreach (var item in Model.Where(s => s.DayOfTheWeek == schedule.Key && s.Shift == 1))
            {
                <tr id="schedule_row_@item.Id">
                    <th><p class="schedule_th" id="number_item_@item.Id">@item.SubjectNumber</p></th>
                    @if (item.ScheduleNumeratorId != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="room_denominator_@item.Id">@item.ScheduleDenominator?.RoomDenominator</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="room_numerator_@item.Id">@item.ScheduleNumerator?.RoomNumerator</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="denominator_@item.Id">@item.ScheduleDenominator?.SubjectDenominator?.SubjectName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="numerator_@item.Id"> @item.ScheduleNumerator?.SubjectNumerator?.SubjectName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="teacher_denominator_@item.Id">@item.ScheduleDenominator?.Group?.GroupName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="teacher_numerator_@item.Id">@item.ScheduleNumerator?.Group?.GroupName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    }
                    else
                    {
                        <th><p class="schedule_th" id="room_denominator_@item.Id">@item.ScheduleDenominator?.RoomDenominator</p></th>
                        <th><p class="schedule_th" id="denominator_@item.Id">@item.ScheduleDenominator?.SubjectDenominator?.SubjectName</p></th>
                        <th><p class="schedule_th" id="teacher_denominator_@item.Id">@item.ScheduleDenominator?.Group?.GroupName</p></th>
                    }
                </tr>
            }
        }
    </table>

    <h3 class="shift">2 смена</h3>

    <table class="schedule_table">
        <tr>
            <th class="days">Дни</th>
            <th class="number">№</th>
            <th class="cabinet">Кабинет</th>
            <th class="group">@ViewData["teacherName"]</th>
            <th class="teacher">Группа</th>
        </tr>
        @foreach (var schedule in teachersSchedule)
        {
            <tr>
                <th rowspan="5" class="day_of_the_week">@DayOfTheWeek[schedule.Key - 1]</th>
            </tr>
            @foreach (var item in Model.Where(s => s.DayOfTheWeek == schedule.Key && s.Shift == 2))
            {
                <tr id="schedule_row_@item.Id">
                    <th><p class="schedule_th" id="number_item_@item.Id">@item.SubjectNumber</p></th>
                    @if (item.ScheduleNumeratorId != null)
                    {
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="room_denominator_@item.Id">@item.ScheduleDenominator?.RoomDenominator</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="room_numerator_@item.Id">@item.ScheduleNumerator?.RoomNumerator</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="denominator_@item.Id">@item.ScheduleDenominator?.SubjectDenominator?.SubjectName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="numerator_@item.Id"> @item.ScheduleNumerator?.SubjectNumerator?.SubjectName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th class="main_delimiter">
                            <table width="100%" class="delimiter_teacher_table">
                                <tr class="delimiter_main">
                                    <th class="delimiter_denominator" height="30">
                                        <p class="schedule_th" id="teacher_denominator_@item.Id">@item.ScheduleDenominator?.Group?.GroupName</p>
                                    </th>
                                </tr>
                                <tr class="delimiter_main">
                                    <th class="delimiter_numerator" height="30">
                                        <p class="schedule_th" id="teacher_numerator_@item.Id">@item.ScheduleNumerator?.Group?.GroupName</p>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    }
                    else
                    {
                        <th><p class="schedule_th" id="room_denominator_@item.Id">@item.ScheduleDenominator?.RoomDenominator</p></th>
                        <th><p class="schedule_th" id="denominator_@item.Id">@item.ScheduleDenominator?.SubjectDenominator?.SubjectName</p></th>
                        <th><p class="schedule_th" id="teacher_denominator_@item.Id">@item.ScheduleDenominator?.Group?.GroupName</p></th>
                    }
                </tr>
            }
        }
    </table>


    <div class="footer">
        <div class="back_to_teachers_list">
            <a class="back_btn" asp-action="TeachersList" asp-controller="Home"><i class="fa-solid fa-chevron-left"></i></a>
        </div>
        <div class="teachers_footer">
            <div>
                <button class="change_pass" data-bs-toggle="modal" data-bs-target="#changePassword" onclick="getTeacherInfo(@ViewBag.teacherId)">Изменить пароль</button>
            </div>
            <div>
                <a class="export_btn" asp-action="ExportTeacherSchedule" asp-route-teacherId="@ViewData["teacherId"]">Экспорт</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="mainModal modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Изменить пароль</h5>
                    <button class="close_modal" id="close_modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark fa-lg" style="color: #e60a0a;"></i></button>
                </div>
                <div class="modal-body">
                    <div class="groupName">
                        <input class="group_input" id="newTeacherPass" type="text" placeholder="Новый пароль" autocomplete="off" required />
                        <input class="group_input" id="teacherId" readonly hidden />
                    </div>
                    <div class="modal_footer">
                        <div>
                            <p id="passwordError" class="changePass_error"></p>
                        </div>
                        <div class="save_group_block" align="right">
                            <button type="submit" class="save_group" onclick="changePassword()">Изменить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    <script src="~/js/jquery-3.6.3.min.js"></script>
</body>
</html>

<script type="text/javascript">

    function getTeacherInfo(id) {
        $.ajax({
            url: "/home/GetTeacherInfo/" + id,
            method: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                data = JSON.parse(data);
                console.log(data);
                $("#teacherId").val(data.Id);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }


    function changePassword() {
        var id = $("#teacherId").val();
        var newPassword = $("#newTeacherPass").val();
        $.ajax({
            url: "/home/ChangeTeacherPass",
            method: "POST",
            data: { teacherId: id, newTeacherPass: newPassword },
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data === "Пароль изменен") {
                    $('#currentTeacherPass').text(newPassword);
                    $('#close_modal').click();
                    window.location.reload();
                } else {
                    $('#passwordError').text(data);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>